<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @template_model.text %>
</p>

<%= link_to 'Edit', edit_template_model_path(@template_model) %> |
<%= link_to 'Back', template_models_path %>
